.btn {
    display: inline-block;
    text-decoration: none;
    color: $main-color;
    padding: 10px 15px;
    margin-right: 15px;
    cursor: pointer;
    transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;

    &.btn-primary {
        background-color: $primary-color;
        border: 1px solid $primary-color;

        &:hover {
            background-color: $primary-color-hover;
            border-color: $primary-color-hover;
        }
    }
    &.btn-secondary {
        .infoscreen_modal_content & {
            color: $modal-color;
        }
        border: 1px solid $primary-color;


        &:hover {
            background-color: $primary-color-hover;
            border-color: $primary-color-hover;
            color: $main-color;
        }
    }
    &.btn-signal {
        color: $main-color;
        border: 1px solid $signal;
        background-color: $signal;

        &:hover {
            background-color: $signal-hover;
            border-color: $signal-hover;
        }
    }
    &.btn-widget {
        border: 1px solid $main-color;
        color: $main-color;

        &:hover {
            background-color: $primary-color-hover;
            border-color: $primary-color-hover;
        }
    }
}
